.hero{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg , rgba(49,24,131,.9) 0%, rgba(72,56,149,.8) 100%), 
    url("/assets/imgs/hero_image.jpeg") center no-repeat;
    background-size: cover;
    position: relative;
}

.hero::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -0.5px;
    height: 4.7rem;
    background: url("/assets/imgs/wave-small.png") center no-repeat;
    background-size: cover;
}

.main-message{
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    transform: translateY(20%);
}

.main-message h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

.btn{
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    transition: background-color 650ms;
}

.btn:hover{
    background-color: #ce587b;
}