<section class="hero">
    <div class="container">
        <div class="main-message">
            <h1>I'am Rohit Kadam</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga est sapiente molestiae qui. Maiores atque
                obcaecati incidunt nam laboriosam tempora, earum sunt praesentium deserunt nisi cum possimus, vero modi
                quas?</p>
            <div class="cta">
                <a href="#" class="btn">Resume</a>
            </div>
        </div>
    </div>
</section>